<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title>Programming task #1</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body style="margin-top:20px" ng-app="lab1">
    <div ng-controller="Lab1Controller">
      <div>
        <input type="text"
          ng-model="input"
          ng-keyup="enableButton ()"></input>

        <button id = "deleteButton"
          style="margin-left:10px"
          disabled
          ng-click="deleteText ()"> DELETE </button>
      </div>

      <div style="margin-top:20px">
        Inside the input field : {{input}}
      </div>
    </div>
  </body>
</html>
